@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.name {
    margin: 0;
    padding: 0.5em 0 0 0.5em;
    width: 65%;
    font-size: 1.5em;
}

body {
    margin: 0;
    background: url(../images/flamingo.jpg) no-repeat top;
    background-size: 100%;
}

.info {
    margin: 0;
    padding-left: 0.5em;
    width: 65%;
}

.bio {
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
}

.email {
    margin: 0;
    padding-left: 0.5em;
}

@media only screen and (min-width:38em) {
    
    .name {
        font-size: 2em;
    }
    
    .info {
        width: 50%;
    }
    
}